
.navBar .logo {

}

.navbar-default .navbar-nav > li > > a a.ctive {
    color: blueviolet;
    background-color: blue;
}

.navbar-default {
    background-color: #fcfcfc;
}

.navbar-default {

}

.active {
}

.logoBrand img {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}