

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar-default .navbar-nav > li > a {
    color: white;
    animation: 0.5s ease-out 0s fadeIn;
}


.navbar-default .navbar-nav > a.active {
    color: blueviolet;
    background-color: blue;

}

#dropdownMenuItem{
    color: black;
    background-color: white;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}



.navbar-default {
    background-color: #5079b3;
    border-radius: 0;
    border: #5079b3;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav {

}

.navbar-default .navbar-nav :hover {
    background-color: #eaeaea;
    transition: 0.3s;
}

.active {
}



.navbar-default .navbar-nav > li > a.active {
    background-color: #771200;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 915px) and (min-width: 765px) {
    .navbar-default .navbar-nav > li > a {
        padding-right: 0.4em;
        padding-left: 0.4em;
    }

    #hiddenWhenSmall {
        display: none;
    }
}

.navbar-default .navbar-nav{
    transition: 0.3s;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    padding: 7px 14px;
    max-width: 60px;
}