@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.forside {
    height: 100%;
    background-image: url('https://i.imgur.com/AxF4TMa.png');
    background-size: cover;
    padding-top: 30em;
    z-index: 9999;
}

.text-uppercase {
    font-weight: 700;
    text-transform: uppercase;
    color: #f8f8f8;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.forside p {
    color: #fcfcfc;
}

.forside h1 {
    font-weight: 300;
    color: #FFFFFF;

}

.forsideText{
    animation: 0.5s ease-out 0s fadeIn;
}



@media (max-width: 992px) {
    .forside {
        padding-top: 15em;
    }
}