@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.forside {
    padding-top: 20em;
}

.text-uppercase {
    font-weight: 700;
    text-transform: uppercase;
    color: #f8f8f8;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.forside p {
    color: #fcfcfc;
}

.forside h1 {
    font-weight: 300;
    color: #FFFFFF;

}

.forsideText{
    animation: 1s ease-out 0s fadeIn;
}



@media (max-width: 992px) {
    .forside {
        padding-top: 15em;
    }
}