.progressBar {
  padding-top: 1em;
}

.progressBar1 {
  position: absolute;
  z-index: 0;
  padding-top: 1em;
  padding-left: 14em;
  padding-right: 14em;
}

.formDiv {
  padding-left: 10em;
  padding-right: 10em;
}

.submitButton {
}

.btnGroup {
}

.leftBtn {
}

.paddingBot {
  padding-bottom: 1em;
}
