.loginBox {
    padding-top: 2em;
}

.picture {
    padding-top: 5em;
    max-height: 19em;
}

.login {
}

.login p {
    color: white;
}

.loginBox a{
     color: inherit;
     text-decoration: underline;
 }
.loginBox p :hover{
    color: #6e7bb3;
}

.forgottenPassword{
    padding-top: 15em;
}