#myFooter {
    background-color: #5079b3;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #4c73aa;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a, #myFooter span {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus{
    text-decoration: none;
    color: white;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .btn {
    color: #5079b3;
    background-color: #fbfbfb;
    border-radius: 20px;
    border: none;
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 4em;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

