
.panels {
}

.nyPanel {
    padding-top: 1em;
    height: 15em;
    background-color: #ffffff;
    border: solid 1px;
    border-color: #eaeaea;
    box-shadow: #eaefef 1px 1px 10px;
}

.nyPanel a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.nyPanel p {
    font-weight: bold;
    color: #3e4051;
}

.nyPanel hr {
    padding: 0;
    margin: 0;
}

#col {
    padding-top: 4em;
}

#col1 {
    padding-top: 4em;
    height: 100px;
}

.title {
    background-color: blue;
}

.custom-btn {
    background: #fff;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}

#butt {
    color: #5d5f6a;
}

.fixed-panel {
    min-height: 14em;
    overflow-y: scroll;

}

.sakInformasjon {

}