root {
  --main-light: #354050;
  --main-dark: #232932;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app div {
  height: 100%;
}

#root {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.route-container {
  height: 100%;
}

.choice-map-container {
  position: absolute;
  left: 50%;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.choice-map {
  color: black;
  width: 400px;
  position: relative;
  z-index: 1000;
  margin: 0 auto;
}

.input-map {
  height: 35px;
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.submitButton {
  z-index: 1000;
  position: relative;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.alert {
  color: red;
  border: 1px red;
  border-radius: 5px;
  font-size: 10px;
  max-width: 300px;
}

.register-form {
  height: 10em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.leaflet-container {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.footerClass2{
  position:absolute;
  text-align: center;
  width: 100%;
  background-color: #40608d;
  min-height: 70%;
  bottom: auto;
  color: white;
}

.footerInfo{
  margin-top: 40px;
}


.marginBody{
  min-height: 100px;
}


.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


#backButton {
  font-size: 35px;
  color: #5079b3;
  margin: 5px;
}