root {
  --main-light: #354050;
  --main-dark: #232932;
}

.bottomFooter{
  min-height: calc(100vh - 100px);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#app div {
  height: 100%;
}

#root {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.route-container {
  height: 100%;
}

.choice-map-container {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.gridPad{
  padding-top: 0.3em;
}

.choice-map {
  position: relative;
  z-index: 1000;
  width: 100%;
}

.input-map {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

#findAddress{
  width: 100%;
}

.submitButton {
  z-index: 1000;
  width: 100%;
}

.alert {
  color: red;
  border: 1px red;
  border-radius: 5px;
  font-size: 10px;
  max-width: 300px;
}

.register-form {
  height: 10em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.leaflet-container {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
  width: 100vw;
  z-index: 100;
}

.footerClass2{
  position:absolute;
  text-align: center;
  width: 100%;
  background-color: #f9f9f9;
  min-height: 70%;
  border-top: #bcc2cb solid 1px;
  color: black;
}



.footerInfo{
  margin-top: 40px;
}


.marginBody{
  min-height: 100px;
}


.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


#backButton {
  font-size: 35px;
  color: #5079b3;
  margin: 5px;
}

.backgroundImage{
  height: 100%;
  background-image: url('/resources/backgroundImage.png');
  background-size: cover;
}
